node_modules
build
public
# Gemini CLI added
.env
tmp/
out_clips/
rendered/
apps/remotion/public/out_clips/
remotion_tmp
cookies.txt
last_video_id.txt

# Google OAuth
client_secret.json
gdrive_token.json